@import "tailwindcss";

@source "./_drafts/**/*.html";
@source "./_includes/**/*.html";
@source "./_layouts/**/*.html";
@source "./_posts/*.md";
@source "./_posts/*.markdown";
@source "./*.md";
@source "./*.markdown";
@source "./*.html";

@plugin "@tailwindcss/typography";

@theme {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-med: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.75rem;
    --text-4xl: 2rem;
    --text-5xl: 2.25rem;
    --text-6xl: 2.5rem;
    --text-disp-sm: 2.75rem;
    --text-disp-lg: 3.25rem;

    --color-green-50: #F0FDF0;
    --color-green-100: #DCFCDC;
    --color-green-200: #BBF7BB;
    --color-green-300: #86EF86;
    --color-green-400: #4ADE4A;
    --color-green-500: #00FF00;
    --color-green-600: #16A316;
    --color-green-700: #158015;
    --color-green-800: #166516;
    --color-green-900: #145314;
    --color-green: #00FF00;

    --color-purple-50: #FBF2FE;
    --color-purple-100: #F7E2FE;
    --color-purple-200: #F1CAFE;
    --color-purple-300: #E6A5FC;
    --color-purple-400: #D671F8;
    --color-purple-500: #CB2CFF;
    --color-purple-600: #AE26DC;
    --color-purple-700: #921CB9;
    --color-purple-800: #7A1B99;
    --color-purple-900: #671D7F;
    --color-purple: #CB2CFF;

    --color-blue-50: #EEF5FF;
    --color-blue-100: #E0ECFF;
    --color-blue-200: #C7DDFE;
    --color-blue-300: #A5C8FC;
    --color-blue-400: #0066FF;
    --color-blue-500: #0066FF;
    --color-blue-600: #4686E5;
    --color-blue-700: #3872CA;
    --color-blue-800: #305EA3;
    --color-blue-900: #2E4F81;
    --color-blue: #0066FF;

    --color-orange-50: #FFF9EB;
    --color-orange-100: #FEEDC7;
    --color-orange-200: #FDD98A;
    --color-orange-300: #FCC54D;
    --color-orange-400: #FBB724;
    --color-orange-500: #FAAA00;
    --color-orange-600: #D99606;
    --color-orange-700: #B47E09;
    --color-orange-800: #92680E;
    --color-orange-900: #78570F;
    --color-orange: #FAAA00;

    --color-charcoal-50: #f6f6f6;
    --color-charcoal-100: #e7e7e7;
    --color-charcoal-200: #d1d1d1;
    --color-charcoal-300: #b0b0b0;
    --color-charcoal-400: #888888;
    --color-charcoal-500: #6d6d6d;
    --color-charcoal-600: #5d5d5d;
    --color-charcoal-700: #4f4f4f;
    --color-charcoal-800: #454545;
    --color-charcoal-900: #3d3d3d;
    --color-charcoal-950: #252525;
    --color-charcoal: #252525;    

    --font-sans: "TWKEverett", sans-serif;
    --font-serif: "TWKEverett", serif;
}

@layer base {
    @font-face {
        font-family: TWKEverett;
        font-weight: 400;
        src: url(https://admin.thegreenwebfoundation.org/static/fonts/twkeverett-regular.woff2)
            format("woff2");
    }
    @font-face {
        font-family: TWKEverett;
        font-weight: 400;
        font-style: italic;
        src: url(https://admin.thegreenwebfoundation.org/static/fonts/twkeverett-regularitalic.woff2)
            format("woff2");
    }
    html {
        @apply text-neutral-900;
        @apply font-normal;
        @apply leading-6;
    }
    *,
    ::before,
    ::after {
        @apply border-black;
    }
    a {
        @apply underline;
    }
    a:hover {
        @apply no-underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        text-transform: uppercase;
        font-size: var(--text-6xl);
    }
    h2 {
        font-size: var(--text-4xl);
        border-top-width: 2px;
        border-bottom-width: 2px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    h3 {
        font-size: var(--text-3xl);
        @apply leading-8;
        border-bottom-width: 1px;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
    h4, h5 {
        font-size: var(--text-base);
        font-weight: 400;
    }
    summary {
        cursor: pointer;
    }
}

@layer utilities {

    .container{ };

    .prose{
        a:hover {
            @apply no-underline;
        }
    }

    .button {
        @apply inline-block;
        @apply border;
        @apply border-orange-700;
        @apply bg-orange-300;
        @apply rounded-xl;
        @apply px-8;
        @apply py-3;

        a {
            @apply text-charcoal-900;
            @apply no-underline;
            @apply uppercase;
            @apply text-lg;
            @apply font-bold;
        }

        &:hover {
            @apply bg-orange-100;
        }
    }
}

@layer components {

    .full-width {
      @apply relative;
      @apply left-[50%];
      @apply w-[calc(100vw-12px)];
      @apply ml-[calc(-50vw+6px)];
      @apply mr-[calc(-50vw+6px)];
    }

    header.site-header {
      @apply bg-white border-b-2;
      .wrapper {
        @apply container mx-auto px-2 sm:px-4;
        .nav-wrapper {
          @apply flex flex-wrap md:flex-nowrap justify-between items-center bg-white my-3 sm:my-6 sm:mb-6 md:justify-start md:space-x-10;
        }
      }
    }

    footer.site-footer {
      @apply bg-green mt-12 py-12 border-t-2;
      .wrapper {
        @apply container mx-auto px-2 sm:px-4 md:p-0;

      }
    }

    .page-heading {
        @apply mt-8;
        @apply mb-4;
    }

    .tab {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        padding: 0;
        list-style: none;
        position: relative;
    }

    .tab > * {
        flex: none;
        padding-left: 20px;
        position: relative;
    }

    .tab > * > a {
        display: block;
        text-align: center;
        @apply px-6;
        @apply py-3;
        @apply text-charcoal-500;
        border: 2px solid transparent;
        border-color: transparent;
        @apply rounded-2xl;
        @apply text-med;
        text-transform: uppercase;
        transition: color .1s ease-in-out;
        line-height: 20px;
    }

    .tab > .active > a {
        @apply text-black;
        @apply border-black;
        @apply bg-charcoal-50;
    }

    .tab > li > a {
        text-decoration: none;
        cursor: pointer;
    }

    .tab-content {
        padding: 0;
    }

    .tab-content > li {
        display: none;
    }
    .tab-content > li.active {
        display: block;
    }

    /* The 2 following blocks can be removed if the script is not configured to show the toast message */
    #jekyll-tabs-copy-to-clipboard-message {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        right: 50%;
        bottom: 30px;
    }

    #jekyll-tabs-copy-to-clipboard-message.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    div[class$="-box"] { 
      @apply border;
      @apply rounded-xl;
      @apply p-4;
    }

    .info-box {
      @apply border-green;
      @apply bg-green-100;
    }

    .warning-box {
      @apply border-orange;
      @apply bg-orange-100;
    }    

}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}

.menu-icon {
  &::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
  }

  > svg path {
    fill: var(--color-green-600);
  }
}

.site-nav {
  border: none;
  background-color: inherit;

  label[for="nav-trigger"], #nav-trigger {
    display: none;
  }
}

.post-content {
  @apply mt-8;
}

.post-content p {
  @apply mb-3;
}


/* CATEGORY U */
.cat-u {
@apply bg-blue dark:bg-blue-700 text-white;
}
.cat-u-body {
@apply bg-blue-200 dark:bg-blue-600 text-charcoal dark:text-white;
}
.cat-u-arrow-right {
@apply border-t-[2rem] border-l-[2rem] border-b-[2rem] border-transparent border-l-blue dark:border-l-blue-700;
}
.cat-u-arrow-down {
@apply border-t-[2rem] border-l-[6rem] border-r-[6rem] border-transparent border-t-blue dark:border-t-blue-700;
}


/* CATEGORY O */
.cat-o {
@apply bg-purple-600 dark:bg-purple-800 text-white;
}
.cat-o-body {
@apply bg-purple-300 dark:bg-purple-700 text-charcoal dark:text-white;
}
.cat-o-arrow-right {
@apply border-t-[2rem] border-l-[2rem] border-b-[2rem] border-transparent border-l-purple-600 dark:border-l-purple-800;
}
.cat-o-arrow-down {
@apply border-t-[2rem] border-l-[6rem] border-r-[6rem] border-transparent border-t-purple-600 dark:border-t-purple-800;
}


/* CATEGORY C */
.cat-c {
@apply bg-purple-800 dark:bg-purple-950 text-white;
}

/* CATEGORY G */
.cat-g {
@apply bg-charcoal-800 dark:bg-charcoal-950 text-white;
}


/* CATEGORY D */
.cat-d {
@apply bg-orange-500 dark:bg-orange-800 text-white;
}
.cat-d-body {
@apply bg-orange-200 dark:bg-orange-700 text-charcoal dark:text-white;
}

