<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="min-h-[100vh] flex flex-col">

    {%- include header.html -%}

    <div class="relative flex-auto">
      <main class="page-content container mx-auto pt-6 md:pt-8 px-2 sm:px-4" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>
    {%- include footer.html -%}

    {%- include sub-footer.html -%}

    <script src="/assets/js/tabs.js"></script>

  </body>

</html>
