---
layout: base
---

<div class="flex flex-col md:flex-row gap-6">

  <aside class="md:w-1/5 border-b md:border-r md:border-b-0 border-gunmetal-200 pr-2 pb-2 pt-0">

    {% for item in site.data[page.sidebar_navigation] %}
      <a href="{{ item.link }}" class="font-light block mb-2 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == item.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">{{ item.name }}</a>

      {% for sub_item in item.children %}
        <div class="flex flex-col">
          <a href="{{ sub_item.link }}" class="font-light mb-2 px-4 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == sub_item.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">
            {{ sub_item.name }}
          </a>
        </div>
      {% endfor %}
    {% endfor %}
  </aside>

  <article class="{% if page.wide %}w-full{% else %}md:w-4/5{% endif %}">

      <header class="page-header">
        <h1 class="page-heading mt-4 mb-8">{{ page.title | escape }}</h1>
      </header>

    <div class="{% if page.prose %}prose{% endif %} {% if page.wide %}max-w-full{% endif %}">
        {{ content }}
      </div>
  </article>
</div>
